div.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

div.gallery-item {
    margin: 5px;
    border: 1px solid #ccc;
    width: 30%;
}

div.gallery-item:hover {
    border: 1px solid #777;
}

div.gallery-item img {
    width: 100%;
    height: auto;
}

div.gallery-item div.desc {
    padding: 15px;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px; 
}

.gallery-item {
    text-align: center;
}