body {
    font-family: helvetica;
    font-size: medium;
    background-color: antiquewhite;
    text-align: center;
    margin: 5% 10% 10% 10%;
    border:dotted    5px;
    font: bold;
}

h1{
    font-size:40px;
    font-weight: bold;
}

html {
    background-color:burlywood;
}

    img {
    border-radius: 10px;
    border: solid 3px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.boton {
    border: solid 2px;
    border-color: black;
    text-decoration: none;
    background-color: white;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    color: darkblue;
    font-weight: bold;

}

p{
    font-weight:normal;
}


